

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css">
    <meta charset="utf-8" />
</head>
<body>


    <!-- Contenedor del grid con margen superior -->
    <div class="gridnao">
        <div>
            <h2>Le Jour des Morts au Mexique</h2>
        </div>
    </div>
    <div style="border: 1px solid #ccc; padding: 10px;">
        <table style="border: none; border-collapse: collapse;">
            <tr>
                <td style="vertical-align: top; padding-right: 1cm;">
                    <img src="~/Resources/vane1.png" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 18cm;">
                </td>
                <td style="vertical-align: top;">
                    <img src="~/Resources/vane2.png" alt="Segunda imagen" style="width: 4cm; height: 4cm; float: right; margin-left: 1cm;">
                    <p>
                        Le Jour des Morts est une fête importante pour tout les mexicain et mexicaines. <br />
                        C’est une fête de deux jours, le premier et le deuxième jour de novembre. <br />
                        Le premier jour est pour les décédés jeunes, et le deuxième jour pour les décédés adultes.<br />
                        La tradition est de faire un autel avec les plats traditionnels préférés, <br />
                        des bonbons (normalement crânes de sucre), les boissons, les bougies, les objets les <br />
                        appartenances et les photographies de la famille ou amies décédés. La décoration est faite<br />
                        avec troué papier de différentes couleurs, et fleurs de Cempasúchil.<br />
                        La fleur de Cempasúchil est une fleur d’origine mexicain et de saison d’octobre, <br />
                        il d’usage de mettre une croix ou un chemin en le sol avec les pétales de la fleur. <br />
                        Le troisième jour de novembre la famille peut manger les plats de l’autel.<br />
                        Il y a beaucoup de festivales de le jour de morts, les hommes et les femmes s’habillent <br />
                        comme des catrinas et dansent, marchent et chantent la chanson typique du jour de morts : La llorona.<br />
                    </p>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;"></td>
                <td style="vertical-align: top;">
                    <img src="~/Resources/vane3.png" alt="Tercera imagen" style="width: 4cm; height: 4cm; float: right; margin-left: 1cm;">
                </td>
            </tr>
        </table>
    </div>



</body>
</html>
<footer>
    <p>
        <br />
        Vanessa
    </p>
</footer>
