

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css">
    <meta charset="utf-8" />
</head>
<body>
    <div style="border: 1px solid #ccc; padding: 10px;">
        <table style="border: none; border-collapse: collapse; margin-top: 1cm; margin-bottom: 20px;">
            <tr>
                <td style="vertical-align: top;">
                    <h3 style="margin: 0;">SANTÉ MENTALE</h3><br />
                    <p style="margin-top: 0;">
                        La santé mentale correspond à un état de bien-être mental qui nous permet d’affronter <br />
                        les sources de stress de la vie, de réaliser notre potentiel, de bien apprendre et de<br />
                        bien travailler, et de contribuer à la vie de la communauté. Elle fait partie intégrante<br />
                        de la santé et du bien-être, sur lesquels reposent nos capacités individuelles et collectives<br />
                        à prendre des décisions, à nouer des relations et à bâtir le monde dans lequel nous vivons.<br />
                        La santé mentale est un droit fondamental de tout être humain. C’est aussi un aspect essentiel<br />
                        du développement personnel, communautaire et socioéconomique.
                    </p>
                </td>
                <td style="vertical-align: top; padding-left: 1cm;">
                    <img src="~/Resources/ingrid1.png" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm; margin-top: 1cm;">
                </td>

            </tr>
        </table>
        <br />
        <table style="border: none; border-collapse: collapse;">
            <tr>
                <td style="vertical-align: top; padding-right: 1cm;">
                    <img src="~/Resources/ingrid2.png" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm; margin-top: 1cm;">
                </td>
                <td style="vertical-align: top;">
                    <h3>Déterminants de la santé mentale</h3>
                    <p>
                        Tout au long de notre vie, de multiples déterminants individuels, sociaux et structurels<br />
                        peuvent se combiner pour protéger ou compromettre notre santé mentale et ainsi modifier <br />
                        notre position sur le spectre de la santé mentale.<br />
                        Les risques peuvent se manifester à tous les stades de la vie, mais ceux qui surviennent<br />
                        pendant les périodes critiques du développement, notamment au cours de la petite enfance, <br />
                        sont particulièrement préjudiciables.<br />
                    </p>
                </td>
            </tr>
        </table>
        <br />
        <table style="border: none; border-collapse: collapse; margin-bottom: 20px;">
            <tr>
                <td style="vertical-align: top;">
                    <h3>Promotion de la santé mentale et prévention des problèmes de santé mentale</h3>
                    <p>
                        Les interventions en matière de promotion et de prévention visent à identifier les déterminants individuels, sociaux et structurels de la <br />
                        santé mentale, puis à agir pour réduire les risques, accroître la résilience et créer des environnements propices à la santé mentale.<br />
                        La prévention du suicide est une priorité mondiale et fait partie des objectifs de développement durable. On peut considérablement avancer
                        sur cette question en limitant l’accès aux moyens de suicide, en veillant à une couverture médiatique responsable, en promouvant<br />
                        l’apprentissage socioémotionnel chez les adolescents et en intervenant rapidement. Interdire les pesticides très dangereux est une <br />
                        intervention particulièrement bon marché qui présente un bon rapport coût/efficacité pour réduire les taux de suicide.<br />
                        La promotion de la santé mentale chez l’enfant et l’adolescent est une autre priorité. Cela suppose d’adopter des politiques et des lois qui <br />
                        promeuvent et protègent la santé mentale, d’aider les personnes chargées des soins à dispenser des soins bienveillants, de mettre en place<br />
                        des programmes en milieu scolaire et d’améliorer la qualité du contexte communautaire et de l’environnement numérique. Les programmes<br />
                        d’apprentissage socioémotionnel en milieu scolaire comptent parmi les stratégies de promotion les plus efficaces dans tous les pays, <br />
                        quel que soit le niveau de revenus.
                    </p>
                </td>

            </tr>
        </table>


        <table style="border: none; border-collapse: collapse;">
            <tr>
                <td style="vertical-align: top; ">
                    <h3>Soins de santé mentale et prise en charge</h3><br />

                    <img src="~/Resources/ingrid3.png" alt="Segunda imagen" style="width: 4cm; height: 4cm; float: left; margin-right: .5cm; ">
                    <p>
                        Dans le cadre des efforts déployés au niveau national pour renforcer la santé mentale, il est crucial de ne pas seulement protéger et promouvoir le bien-être mental de tous ; il faut aussi répondre aux besoins des personnes qui souffrent de problèmes de santé mentale.
                        Cela suppose de dispenser des soins de santé mentale à l’échelle de la communauté, car ces soins sont plus accessibles et acceptables que les soins dispensés en institution, contribuent à prévenir les violations des droits humains et se traduisent par de meilleurs résultats de guérison pour les personnes atteintes de problèmes de santé mentale. Les soins de santé mentale dispensés à l’échelle de la communauté devraient l’être dans le cadre d’un réseau de services étroitement liés, comprenant :

                    </p>
                </td>
            </tr>

        </table>


        <table style="border: none; border-collapse: collapse;">
            <tr>
                <td style="vertical-align: top;">
                    <ol style="font-size: 20px;">
                        <li>
                            des services de santé mentale intégrés aux services de santé généraux, habituellement proposés dans des hôpitaux généraux et en collaboration avec des prestataires de soins de santé primaires non spécialisés ;
                        </li>
                        <li>
                            des services de santé mentale proposés à l’échelle de la communauté, qui peuvent faire intervenir des équipes et centres de santé mentale communautaires, des services de réadaptation psychosociale, des services d’entraide et des services de soutien à l’autonomie ; et
                        </li>
                        <li>
                            des services de santé mentale proposés dans le cadre de services sociaux et dans des contextes non sanitaires, comme les services de protection de l’enfance, les services de santé scolaires et les services carcéraux.
                            <img src="~/Resources/ingrid4.png" alt="Imagen 2">
                        </li>
                    </ol>
                </td>
            </tr>
        </table>

        <br /><br />
    </div>
    <br />
    <div class="gridnao" id="mensajeTembloroso"><h1>Merci beaucoup</h1></div>

</body>
</html>
<footer>
    <p>
        <br />
        Ingrid
    </p>
</footer>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var mensaje = document.getElementById("mensajeTembloroso");

    window.addEventListener("scroll", function() {
        var scrollHeight = Math.max(
            document.documentElement.scrollHeight,
            document.body.scrollHeight
        );
        var scrollTop = window.scrollY;
        var windowHeight = window.innerHeight;

        if (scrollTop + windowHeight >= scrollHeight) {
            mensaje.classList.add("temblor");
        } else {
            mensaje.classList.remove("temblor");
        }
    });
});
</script>
