

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css">
    <meta charset="utf-8" />
</head>
<body>


    <!-- Contenedor del grid con margen superior -->
    <div class="gridnao">
        <div>
            <h2>LES INCROYABLES EVENEMENTS ASTRONOMIQUES D’OCTOBRE 2023</h2>
        </div>
    </div>
    <div>
        <p>
            Ce mois-ci nous aurons de grands événements astronomiques, la lune sera le protagoniste principal mais <br />
            nous aurons aussi  la présence de plusieurs corps célestes. Sans plus tarder, nous vous montrons ci-dessous <br />
            chacun de ces merveilleux événements.<br />
        </p>
        <div style="border: 1px solid #ccc; padding: 10px;">
            <table style="border: none; border-collapse: collapse; margin-bottom: 20px;">
                <tr>
                    <td style="vertical-align: top;">
                        <h3>1er Octobre Conjonction Lune – Jupiter</h3>
                        <p>Nous pouvons profiter de cette conjonction à l’œil nu, même si nous la verrons bien mieux si nous utilisons des jumelles. La Lune sera presque pleine et à mesure que la nuit passera, elle se séparera de Jupiter.</p>
                    </td>
                    <td style="vertical-align: top;">
                        <img src="~/Resources/luna1.jpg" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm;">
                    </td>
                </tr>
            </table>

            <table style="border: none; border-collapse: collapse;">
                <tr>
                    <td style="vertical-align: top; padding-right: 1cm;">
                        <img src="~/Resources/luna2.jpg" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm;">
                    </td>
                    <td style="vertical-align: top;">
                        <h3>6 Octobre Lune au dernier quartier</h3>
                        <p>Dans cette phase, la lune se lèvera après onze heures du soir et se couchera vers midi.</p>
                    </td>
                </tr>
            </table>

            <table style="border: none; border-collapse: collapse; margin-bottom: 20px;">
                <tr>
                    <td style="vertical-align: top;">
                        <h3>10 Octobre Conjonction : Lune – Vénus</h3>
                        <p>NAux premières heures de cette journée, Vénus sera accompagnée d'une Lune décroissante à 5 degrés.</p>
                    </td>
                    <td style="vertical-align: top;">
                        <img src="~/Resources/luna3.jpg" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm;">
                    </td>
                </tr>
            </table>

            <table style="border: none; border-collapse: collapse;">
                <tr>
                    <td style="vertical-align: top; padding-right: 1cm;">
                        <div class="carousel-custom">
                            <img src="~/Resources/luna4.jpg" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm;">
                            <img src="~/Resources/luna42.jpg" alt="ejem" style="max-width: 8cm; max-height: 7cm;">
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <h3>14 Octobre Nouvelle Lune et éclipse solaire annulaire</h3>
                        <p>
                            C'est l'événement astronomique le plus attendu, quelque chose de merveilleux et de très difficile<br />
                            à observer sur le territoire national, il n'est plus très courant de l'observer dans cette zone.<br />
                            Il s'agit d'une éclipse solaire au cours de laquelle la Lune ne recouvre pas complètement le disque solaire,<br />
                            laissant une partie du Soleil en forme d'anneau exposée. D'où son nom : éclipse annulaire.<br />
                        </p>
                    </td>
                </tr>
            </table>

            <br /><br />

            <table style="border: none; border-collapse: collapse; margin-bottom: 20px;">
                <tr>
                    <td style="vertical-align: top;">
                        <h3>20-21 Octobre Pluie de météores Orionides </h3>
                        <p>Il n'y en a généralement pas plus de 25 par heure, mais c'est tout un spectacle.</p>
                    </td>
                    <td style="vertical-align: top; padding-left: 1cm;">
                        <img src="~/Resources/luna5.jpg" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm;">
                    </td>
                </tr>
            </table>

            <br /><br />

            <table style="border: none; border-collapse: collapse;">
                <tr>
                    <td style="vertical-align: top; padding-right: 1cm;">
                        <img src="~/Resources/luna6.jpg" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm;">
                    </td>
                    <td style="vertical-align: top;">
                        <h3>21 Octobre Croissant de lune </h3>
                        <p>
                            Cette merveilleuse lune peut être vue pendant la journée et commence à briller au crépuscule, <br />
                            vous permettant de profiter de la beauté de ses cratères avec des jumelles ou de petits télescopes.
                        </p>
                    </td>
                </tr>
            </table>

            <br /><br />

            <table style="border: none; border-collapse: collapse; margin-bottom: 20px;">
                <tr>
                    <td style="vertical-align: top;">
                        <h3>28 Octobre Pleine Lune </h3>
                        <p>
                            A cette occasion nous aurons la Lune éclairée à 100% par le Soleil, à 3h58. Cela commencera vendredi. <br />
                            Lorsqu’il quitte l’horizon la nuit, il semblera complètement plein.
                        </p>
                    </td>
                    <td style="vertical-align: top; padding-left: 1cm;">
                        <img src="~/Resources/luna7.jpg" alt="Imagen de ejemplo" style="max-width: 8cm; max-height: 7cm;">
                    </td>
                </tr>
            </table>

        </div>

    </div>
</body>
<script>
    // Redirige a la vista ViewNahomi en el controlador Home después de 5 segundos
    setTimeout(function () {
        window.location.href = '/Home/ViewVanessa'; // Ajusta la URL según tu configuración de rutas
    }, 5000); // 5000 milisegundos = 5 segundos
</script>
</html>
<footer>
    <p>
        <br />
        Nahomi Cortés
    </p>
</footer>
<script>
    const carousel = document.querySelector(".carousel-custom");
    const images = document.querySelectorAll(".carousel-custom img");
    let currentIndex = 0;

    function showNextImage() {
        // Oculta todas las imágenes
        images.forEach((img) => (img.style.display = "none"));

        currentIndex = (currentIndex + 1) % images.length;
        images[currentIndex].style.display = "block"; // Muestra la imagen actual
    }

    setInterval(showNextImage, 3000); // Cambiar la imagen cada 3 segundos (ajusta el valor según tus preferencias)
</script>